@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    @apply text-lighter-gray antialiased;
  }

  @supports (font-variation-settings: normal) {
    :root {
      font-family: "Inter var", sans-serif;
    }
  }

  #next,
  body,
  html {
    @apply bg-black;
  }

  h3,
  .h3 {
    font-weight: bold;
    font-size: 1.86rem;
    line-height: 2.28rem;
    letter-spacing: -0.005em;
  }

  h4 {
    font-weight: bold;
    font-size: 1.43rem;
    line-height: 2rem;
    letter-spacing: -0.005em;
  }

  p,
  span,
  a,
  div,
  .body {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.005em;
  }

  a.link {
    @apply text-primary hover:underline hover:text-faint-primary cursor-pointer;
  }

  .small {
    font-weight: 500;
    font-size: 12px !important;
    line-height: 22px;
    letter-spacing: 0.005em;
  }

  .tiny {
    font-weight: 500;
    font-size: 10px !important;
    line-height: 22px;
    letter-spacing: 0.005em;
  }

  .autoresize > input {
    @apply bg-transparent pr-1.5 focus:outline-none;
  }

  .stroke-text {
    -webkit-text-stroke: 1.5px theme("colors.darker-gray");
    -webkit-text-fill-color: transparent;
  }

  .icon-button {
    @apply text-white transition transform hover:scale-110 focus:outline-none focus-visible:ring;
  }

  .button {
    @apply focus:outline-none focus-visible:ring;
  }

  .player-button {
    @apply icon-button focus-visible:ring-faint-primary rounded-lg;
  }

  .banner::after {
    content: "";
    background-image: "url(https://pbs.twimg.com/profile_banners/1272587991274274816/1621488651/600x200)";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
  }
}
