@import url("https://rsms.me/inter/inter.css");

:not(h1 > *, .font-display) {
  font-feature-settings: "cv11";
}

@font-face {
  font-family: "Eudoxus Sans";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/eudoxus-sans-var.woff2) format("woff2");
}

/* @font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var.woff2) format("woff2");
} */
