@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 14px;
    line-height: 1.6em;
  }

  body,
  html,
  #__next {
    @apply antialiased text-gray-900;
    scroll-behavior: smooth;
  }

  p,
  div,
  li,
  a,
  button {
    font-size: 1rem;
    font-weight: 500;
  }
}
